.Showcase .ServiceWrapper { 
            
  display: inline-block;
  vertical-align: top;
  padding-left: $space;
  padding-right: $space;
  width: 100%;
  margin-bottom: $space * 3;
  line-height: 120%;

  @media (min-width: 490px) { width: 50%; }
  @media (min-width: 640px) { width: 33.33%; }
  @media (min-width: 920px) { width: 25%; }
  @media (min-width: 1200px) { width: 20%; }
  @media (min-width: 1400px) { width: 16.66%; }
  
  .Service {

    border: solid 1px $color-border-medium;
    border-radius: 0 $space * 2.8 0 $space *3;
    overflow: hidden;
    position: relative;
    @include boxshadow();
    
    .Image {
      
      width: 100%;
      padding: 0 0 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      background-color: #ccc;
      border: solid $color-border-medium;
      border-width: 0 0 1px 0;
      position: relative;
      z-index: 1;

      .Product {

        position: absolute;
        font-family: "BebasNeue-Bold";
        font-size: 160%;
        line-height: 100%;
        padding: $space $space * 1.5 $space * 0.75 $space;
        border-radius: 0 0 $space * 2 0;
        top: 0;
        left: 0;
        background-color: $color-tpyts-yellow-transparent-b;
      }

      .Price {  

        position: absolute;
        right: $space;
        bottom: $space;
        padding: $space / 2 + 1 $space + 2 $space / 2 - 1;
        background-color: $color-tpyts-yellow;
        border-radius: $space * 2;
        @include boxshadow();
          
        .Number,      
        .Currency {              

          display: inline-block;
          vertical-align: middle;
          font-family: "BebasNeue-Bold";
          line-height: 100%;
        } 
          
        .Number {    

          font-size: 180%;
          margin: 0 $space / 4 0 0;
        }
        
        .Currency {              

          font-size: 120%;   
        }
      }
    }

    .Stock {
      
      position: absolute;
      left: 0;
      padding: $space / 2 $space * 1.5 $space / 2 $space;
      border-radius: 0 $space * 2 $space * 2 0;
      color: $color-text-light;
      background-color: $color-tpyts-green;
      white-space: nowrap;
      font-size: 90%;
      z-index: 2;
      margin: -$space 0 0 0;
      @include boxshadow();

      .Text {

        font-family: "BebasNeue-Regular";
      } 

      .Number {

        font-family: "Roboto-Bold";
        margin: 0 $space / 2;
      } 
    }

    .Quantity {

      float: right;
      padding: $space / 1.5;
      border: solid $color-border-medium;
      border-width: 0 0 1px 1px;
      border-radius: 0 0 0 $space * 3;
      background-color: $color-background-light;
      margin: -1px 0 0 0;
      position: relative;
      z-index: 1;
    }
    
    .Data {

      background-color: $color-tpyts-yellow-transparent-a;

      .SearchHighlight {

        display: inline-block;
        padding: 2px 3px 0;
        background-color: $color-tpyts-green;
        color: $color-text-light;
      }

      &:before {

        content: "";
        display: block;
        clear: both;
      }

      > * {

        padding: $space * 1.5;
      }

      > *:not(.Excerpt) {
        
        font-size: 85%;
      }
      
      > *:not(:first-child) {
        
        border: dotted $color-border-medium;
        border-width: 1px 0 0;
        text-align: right;
      } 
      
      .Excerpt {    
        
        font-family: "Roboto-Bold";
      }
      
      .Comments {    
        
        font-family: "Roboto-BoldItalic";
        padding-left: 30%;
        text-align: right;
      }
      
      .Allergens {

        .Label {   
        
          font-family: "BebasNeue-Bold";
          font-size: 85%;
          line-height: 100%;
          margin-bottom: $space / 2;
        }
        
        .Allergen {       

          $size: $space * 4;

          display: inline-block;
          vertical-align: middle;
          width: $size;
          height: $size;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          &.A_000 { background-image: url(~assets/allergens/000.png) }
          &.A_001 { background-image: url(~assets/allergens/001.png) }
          &.A_002 { background-image: url(~assets/allergens/002.png) }
          &.A_003 { background-image: url(~assets/allergens/003.png) }
          &.A_004 { background-image: url(~assets/allergens/004.png) }
          &.A_005 { background-image: url(~assets/allergens/005.png) }
          &.A_006 { background-image: url(~assets/allergens/006.png) }
          &.A_007 { background-image: url(~assets/allergens/007.png) }
          &.A_008 { background-image: url(~assets/allergens/008.png) }
          &.A_009 { background-image: url(~assets/allergens/009.png) }
          &.A_010 { background-image: url(~assets/allergens/010.png) }
          &.A_011 { background-image: url(~assets/allergens/011.png) }
          &.A_012 { background-image: url(~assets/allergens/012.png) }
          &.A_013 { background-image: url(~assets/allergens/013.png) }
        }
      }
    }  
  }
}