.Showcase .Service {
  
  .Image {
    
    width: 100%;
    padding: 0 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 0 0 $space * 2.8 0;
    background-color: #ccc;
    border: solid 1px $color-border-medium;
    position: relative;

    @media (min-width: 420px) { padding: 0 0 100%; }

    .Product {

      position: absolute;
      font-family: "BebasNeue-Bold";
      font-size: 140%;
      padding: $space / 2 + 1 $space * 1.5 $space / 2 - 1 $space;
      border-radius: 0 0 $space * 2 0;
      top: 0;
      left: 0;
      background-color: $color-tpyts-yellow-transparent-b;

      .Stock {

        position: absolute;
        left: 0;
        top: calc(100% - #{ $space /2 });
        padding: 1px $space * 1.5 0 $space;
        border-radius: 0 $space * 2 $space * 2 0;
        color: $color-text-light;
        background-color: $color-tpyts-green;
        font-size: 60%;
        white-space: nowrap;

        .Text {

          font-family: "Roboto-Light";
        } 

        .Number {

          font-family: "Roboto-Bold";
          margin: 0 $space / 2;
        } 
      }
    }

    .Price {  

      position: absolute;
      right: $space;
      bottom: $space;
      padding: $space / 2 + 1 $space + 2 $space / 2 - 1;
      background-color: $color-tpyts-yellow;
      border-radius: $space * 2;
      @include boxshadow();
        
      .Number,      
      .Currency {              

        display: inline-block;
        vertical-align: middle;
        font-family: "BebasNeue-Bold";
        line-height: 100%;
      } 
        
      .Number {    

        font-size: 180%;
        margin: 0 $space / 4 0 0;
      }
      
      .Currency {              

        font-size: 120%;   
      }
    }
  }
  
  .Data {

    padding: $space 0 0;
    
    .Name {
      
      font-family: "Roboto-Bold";
      font-size: 120%;
    }
    
    .Excerpt {
    
      font-size: 85%;
      display: none;
    }
    
    .Components {            
    
      font-size: 85%;
    }
    
    .Allergens {

      padding: $space / 2 0;
      margin: $space / 2 0;
      border: solid $color-border-medium;
      border-width: 1px 0 0;

      span.Label,
      span.Allergen {

        display: inline-block;
        vertical-align: middle;
      }

      span.Label {

        margin: 0 $space 0 0;
        font-size: 80%;
      }
      
      .Allergen {
        
        $size: $space * 4;

        width: $size;
        height: $size;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &.A_000 { background-image: url(~assets/allergens/000.png) }
        &.A_001 { background-image: url(~assets/allergens/001.png) }
        &.A_002 { background-image: url(~assets/allergens/002.png) }
        &.A_003 { background-image: url(~assets/allergens/003.png) }
        &.A_004 { background-image: url(~assets/allergens/004.png) }
        &.A_005 { background-image: url(~assets/allergens/005.png) }
        &.A_006 { background-image: url(~assets/allergens/006.png) }
        &.A_007 { background-image: url(~assets/allergens/007.png) }
        &.A_008 { background-image: url(~assets/allergens/008.png) }
        &.A_009 { background-image: url(~assets/allergens/009.png) }
        &.A_010 { background-image: url(~assets/allergens/010.png) }
        &.A_011 { background-image: url(~assets/allergens/011.png) }
        &.A_012 { background-image: url(~assets/allergens/012.png) }
        &.A_013 { background-image: url(~assets/allergens/013.png) }
      }
    }
      
    .Comments {

      font-size: 80%;
      border: solid $color-border-medium;
      padding: $space / 2 0;
      border-width: 1px 0 0;
    }   
  }  
}