.Showcase.Shops {

  .List {

    @include absolutebox(
      $space,
      $space,
      $space,
      $space
    );

    .Shop {

      display: inline-block;
      vertical-align: top;
      width: 50%;
      padding: $space;

      .ant-card-head-title {

        font-family: "Roboto Condensed Bold";
      }

      .ant-card-body {
        
        .ShopLogo {

          img {

            display: block;
            width: 100%;
          }
        }

        .ShopData {

          .Services,
          .Status {

            margin: $space 0 0;
          }

          .Services {

            line-height: 100%;

            .Count,
            .Legend {

              display: inline-block;
              vertical-align: middle;
              margin: 0 0 0 $space / 2;
              color: $color-tpyts-green;
            }

            .Count {

              font-family: "Roboto Condensed Bold";
            }
          }
        }
      }
    }
  }  
}