.Showcase .Stores {

  .ant-collapse {

    background-color: $color-tpyts-yellow-transparent-a;
    border: none;
    
    > .ant-collapse-item {

      border-top: solid 8px $color-tpyts-green;

      > .ant-collapse-header {

        padding: 0;
        
        .ant-collapse-arrow {     
          
          position: absolute;
          top: unset;
          left: 0;
          bottom: -1;
          font-size: 16px;
          -webkit-transform: none;
          transform: none;
          color: $color-tpyts-green;
          background-color: $color-background-light;
          padding: $space * 2 $space * 3;
          border: solid $color-border-medium;
          border-width: 1px 1px 0 0;
          border-radius: 0 $space * 2.8 0 0;

          &:after,
          svg {

            display: inline-block;
            vertical-align: middle;
          }

          &:after {

            content: "MENU";
            font-family: "Roboto-Regular";
            font-size: 100%;
            margin: 2px 0 0 $space / 2;
          }
        }
      }
    }

    .ant-collapse-content {

      .ant-collapse-content-box {

        padding: $space;
        white-space: nowrap;
        position: relative;

        .Services {
          
          display: inline-block;

          .Service {          

            display: inline-block;
            vertical-align: top;
            padding: $space;
            width: 90%;
            white-space: normal;

            @media (min-width: 420px) { width: 45%; }
            @media (min-width: 600px) { width: 30%; }
            @media (min-width: 900px) { width: 20%; }

            .Quantity {

              margin: $space 0;
            }
          }
        }
      }
    }
  }

  .Cover {

    position: relative;
    padding: $space * 2;
    $logosize: $space * 10;
    $logosizebig: $space * 16;
    z-index: 0;

    .Logo,
    .Data {

      display: inline-block;
      vertical-align: top;
    }

    .Logo {

      width: $logosize;
      height: $logosize;
      background-color: $color-tpyts-yellow;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media (min-width: 640px) {        
        
        width: $logosizebig;
        height: $logosizebig;
      }
    }

    .Data {

      width: calc(100% - #{$logosize});
      padding: 0 0 0 $space * 2;      

      @media (min-width: 640px) { 
        
        width: calc(100% - #{$logosizebig});
      }

      .Info {

        min-height: $logosize - $space; // Address margin  
      
        .Title {

          font-family: "BebasNeue-Bold";
          font-size: 180%;
        }
        
        .Excerpt {
          
          font-size: 90%;
        }
      }
      
      .Address {

        margin: $space 0 0;
        border: dotted $color-border-medium;
        border-width: 1px 0 0 0;
        padding: $space 0 0;

        button,
        .Texts {      
              
          display: inline-block;
          vertical-align: middle;
        }

        .Texts {
        
          font-size: 80%;
          width: calc(100% - 32px);
          padding: 0 0 0 $space;

          .AddressStreet,
          .AddressNumber {
            
            display: inline-block;
          }
          
          .Location {

          }
        }
      }
    }

    .Tools {

      padding: $space * 2 0 0 0; 
      text-align: right;    

      button + button {

        margin: 0 0 0 $space;
      }
    }
  }
}