.Showcase .Stores {

  // ant-collapse-item

  .ant-collapse {

    background-color: $color-tpyts-yellow-transparent;
  }

  .ant-collapse > 
  .ant-collapse-item > 
  .ant-collapse-header {

    padding: 0;
    
    .ant-collapse-arrow {     
      
      position: absolute;
      top: unset;
      left: $space * 2;
      bottom: $space * 2;
      font-size: 16px;
      -webkit-transform: none;
      transform: none;
      color: $color-tpyts-green;

      &:after,
      svg {

        display: inline-block;
        vertical-align: middle;
      }

      &:after {

        content: "MENU";
        font-family: "Roboto Condensed Regular";
        font-size: 100%;
        margin: 2px 0 0 $space / 2;
      }
    }
  }

  .Cover {

    position: relative;
    padding: $space * 2;
    $logosize: $space * 10;
    $logosizebig: $space * 16;
    z-index: 0;

    .Logo,
    .Data {

      display: inline-block;
      vertical-align: top;
    }

    .Logo {

      width: $logosize;
      height: $logosize;
      background-color: $color-tpyts-yellow;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media (min-width: 640px) {        
        
        width: $logosizebig;
        height: $logosizebig;
      }
    }

    .Data {

      width: calc(100% - #{$logosize});
      padding: 0 0 0 $space * 2;      

      @media (min-width: 640px) { 
        
        width: calc(100% - #{$logosizebig});
      }

      .Info {

        min-height: $logosize - $space; // Address margin  
      
        .Title {

          font-family: "Roboto Condensed Bold";
          font-size: 180%;
        }
        
        .Excerpt {
          
          font-size: 90%;
        }
      }
      
      .Address {

        margin: $space 0 0;
        border: dotted $color-border-medium;
        border-width: 1px 0 0 0;
        padding: $space 0 0;

        button,
        .Texts {      
              
          display: inline-block;
          vertical-align: middle;
        }

        .Texts {
        
          font-size: 80%;
          width: calc(100% - 32px);
          padding: 0 0 0 $space;

          .AddressStreet,
          .AddressNumber {
            
            display: inline-block;
          }
          
          .Location {

          }
        }
      }
    }

    .Tools {

      padding: $space * 2 0 0 0; 
      text-align: right;    

      button + button {

        margin: 0 0 0 $space;
      }
    }
  }
}