.Showcase .Stores {
  
  $logosize: $space * 10;
  $logosizebig: $space * 16;
  
  background-color: $color-yellow-light;

  .ant-collapse {
    border: none;
    
    > .ant-collapse-item {

      border-top: solid 10px $color-green;

      margin-bottom: $space * 3;

      &:last-child {

        margin-bottom: $space * 12;
      }

      > .ant-collapse-header {

        padding: 0;
        
        .ant-collapse-arrow {     
          
          position: absolute;
          top: unset;
          left: 0;
          bottom: 0;
          font-size: 16px;
          -webkit-transform: none;
          transform: none;
          width: $logosize + $space * 2;
          color: $color-green;
          background-color: $color-light;
          padding: $space * 1.2 0;
          border: solid $color-medium;
          border-width: 1px 1px 0 0;
          border-radius: 0 $space * 2 0 0;
          z-index: 1;

          &:after,
          svg {

            display: inline-block;
            vertical-align: middle;
          }

          &:after {

            content: "MENU";
            font-family: "Roboto-Regular";
            font-size: 100%;
            margin: 2px 0 0 $space / 2;
          }
        }
      }

      &.ant-collapse-item-active {
        
        > .ant-collapse-header {

          padding: 0;
          
          .ant-collapse-arrow { 

            bottom: -1;
          }
        }
      }
    }

    .ant-collapse-content {

      .ant-collapse-content-box {

        padding: $space * 2 0 0;

        .ServicesWrapper {

          white-space: nowrap;
          padding: $space;
          
          .ServiceResumeWrapper {

            display: inline-block;
            vertical-align: top;
            width: $space * 30;
            margin-bottom: $space * 3;          
            padding-left: $space;
            padding-right: $space;
            white-space: normal;
            scroll-snap-align: center;
          }
        }
      }
    }
  }

  .Cover {

    position: relative;
    padding: $space * 2 $space $space * 3 $space * 2;
    z-index: 0;
    @include backgroundimg();

    &:before {

      content: "";
      display: block;
      @include absolutebox();
      background-color: $color-yellow-transparent;
      z-index: 0;
    }

    .Logo,
    .Data {

      display: inline-block;
      vertical-align: top;
      position: relative;
    }

    .Logo {

      width: $logosize;
      height: $logosize;
      background-color: $color-yellow;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      /*
      @media (min-width: 640px) {        
        
        width: $logosizebig;
        height: $logosizebig;
      }
      */
      z-index: 1;
    }

    .Data {

      width: calc(100% - #{$logosize});
      padding: 0 0 0 $space * 2;  
      z-index: 2;    

      @media (min-width: 640px) { 
        
        width: calc(100% - #{$logosizebig});
      }

      .Info {

        min-height: $logosize - $space; // Address margin  
      
        .Title {

          font-family: "BebasNeue-Bold";
          font-size: 180%;
          @include textglowyellow();
        }
        
        .Excerpt {

          font-family: "Roboto-Bold";
          font-size: 90%;
          @include textglowyellow();
          padding: 0 $space 0 0;
        }
      }
      
      .Address {

        margin: $space 0 0;
        border: dotted $color-dark;
        border-width: 1px 0 0 0;
        padding: $space 0 0;
        font-family: "Roboto-Bold";
        @include textglowyellow();

        button,
        .Texts {      
              
          display: inline-block;
          vertical-align: middle;
        }

        .Texts {
        
          font-size: 80%;
          width: calc(100% - 32px);
          padding: 0 0 0 $space;

          .AddressStreet,
          .AddressNumber {
            
            display: inline-block;
            margin: 0 $space / 2 0 0;
          }
          
          .Location {

          }
        }
      }
    }

    .Tools {

      position: absolute;
      bottom: -$space * 1.5;
      right: $space / 2;
      padding: $space 0 0 0; 
      text-align: right;
      z-index: 3;    

      button {

        @include boxshadow();
        padding-top: 5px;
        padding-bottom: 4px;
        padding-left: 14px;
      }

      button + button {

        margin: 0 0 0 $space;
      }
    }
  }
}