.Showcase .Stores {

  .ant-collapse > .ant-collapse-item {
    //border-bottom: none;
    border-top: solid 8px $color-tpyts-green;
  }

  .ant-collapse-content {

    .ant-collapse-content-box {

      padding: $space;
      background-color: $color-tpyts-yellow;

      .Service {

        display: inline-block;
        vertical-align: top;
        padding: $space;
        width: 100%;

        @media (min-width: 420px) { width: 50%; }
        @media (min-width: 600px) { width: 33.33%; }
        @media (min-width: 900px) { width: 25%; }
        
        .Image {
          
          width: 100%;
          padding: 0 0 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          overflow: hidden;
          border-radius: $space * 2.8 0 0 0;

          @media (min-width: 420px) { padding: 0 0 100%; }
        }
        
        .Data {

          padding: $space 0;
          
          .Name {
            
            font-family: "Roboto-Bold";
            font-size: 120%;
          }
          
          .Excerpt {
          
            font-size: 85%;
            display: none;
          }
          
          .Components {            
          
            font-size: 85%;
          }
          
          .Allergens {

            padding: 0 0 $space 0;
            margin: $space 0;
            border: solid $color-border-medium;
            border-width: 1px 0;

            &:before {

              content: "Alérgenos";
              display: block;
            }
            
            .Allergen {

              width: 10%;
              padding: 0 0 10% 0;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              display: inline-block;

              &.A_000 { background-image: url(~assets/allergens/000.png) }
              &.A_001 { background-image: url(~assets/allergens/001.png) }
              &.A_002 { background-image: url(~assets/allergens/002.png) }
              &.A_003 { background-image: url(~assets/allergens/003.png) }
              &.A_004 { background-image: url(~assets/allergens/004.png) }
              &.A_005 { background-image: url(~assets/allergens/005.png) }
              &.A_006 { background-image: url(~assets/allergens/006.png) }
              &.A_007 { background-image: url(~assets/allergens/007.png) }
              &.A_008 { background-image: url(~assets/allergens/008.png) }
              &.A_009 { background-image: url(~assets/allergens/009.png) }
              &.A_010 { background-image: url(~assets/allergens/010.png) }
              &.A_011 { background-image: url(~assets/allergens/011.png) }
              &.A_012 { background-image: url(~assets/allergens/012.png) }
              &.A_013 { background-image: url(~assets/allergens/013.png) }
            }
          }
          
          .Price {            

            .Comments,
            .NumberCurrency {

              display: inline-block;
              vertical-align: top;
            }
            
            .Comments {

              font-size: 80%;
              width: calc(100% - 70px - #{$space / 2});
            }

            .NumberCurrency {

              width: 70px;
              margin: 0 0 0 $space / 2;
              text-align: right;
              
              .Number {               

                font-family: "Roboto-Bold";
                font-size: 240%;
                line-height: 100%;
              }
              
              .Currency {              

                font-family: "Roboto-Bold";
                font-size: 100%;   
              }
            } 
          }

          .Quantity {

            text-align: right;
            padding: $space 0;            
            border: solid $color-tpyts-green;
            border-width:  0 0 2px 0;
            
            @media (min-width: 420px) { 

              border: dotted $color-border-medium;
              border-width:  0 0 1px 0;
            }

            .Text,
            button.Down,
            .Number,
            button.Up,
            button.Add {

              display: inline-block;
              vertical-align: middle;
            }
            
            button.Down,
            button.Up,
            button.Add {

              padding: 0;
            }
            
            .Text {
              
              font-family: "Roboto-Bold";
              font-size: 120%;
              padding: 0 $space / 2;
            }
            
            button.Up {
              
            }
            
            .Number {
              
              font-family: "Roboto-Bold";
              font-size: 150%;
              padding: 0 $space / 2;
            }
            
            button.Down {
              
            }
            
            button.Add {
              
              margin: 0 0 0 $space;
            }
          }
        }        
      }
    }
  }
}