.Step.Order {

  .Content { 

    .OrderService {

      $imagesize: $space * 10;
      position: relative;
      overflow: hidden;
      border-radius: $space * 2 + 2 0 $space * 2 + 2 0;
      background-color: $color-yellow-light;
      @include boxshadow();

      .Image,
      .Data {

        display: inline-block;
        vertical-align: top;
      }

      .Image {
        
        width: $imagesize;
        height: $imagesize;
        background-color: $color-yellow;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
      }

      .Cancel {

        position: absolute;
        top: $space / 2;
        left: $space / 2;
      }

      .Data {      

        width: calc(100% - #{ $imagesize });
        padding: $space;
      
        .Title {

          font-family: "BebasNeue-Bold";
          font-size: 150%;
          line-height: 100%;     
        }

        .Quantity {

          position: absolute;
          right: $space / 2;
          bottom: $space / 2 - 1;

          .Number {
            
            color: $color-green;
          }
        }
      }
    }

    .OrderService + .OrderService {

      margin: $space 0 0 0;
    }
  }
  
  .TotalOrder {

    position: absolute;
    right: 0;
    bottom: $space * 6;
    background-color: $color-light;
    padding: $space $space * 2 $space / 2;
    border-radius: $space * 2 0 0 0;
    border: solid $color-green;
    border-width: 1px 0 0 1px;
    @include boxshadow();

    .Text,
    .Number,
    .Currency {

      display: inline-block;
      vertical-align: middle;
      line-height: 100%;
    }    

    .Text {

      font-family: "BebasNeue-Regular";
      font-size: 120%;
      margin: 0 0 3px;
    }   

    .Number {

      font-family: "BebasNeue-Bold";
      font-size: 200%;
      margin: 0 $space / 4;
      color: $color-green;
    }   

    .Currency {

      font-family: "BebasNeue-Regular";
      font-size: 120%;
    }

  }
}