.Step.Order {

  .Content { 

    .ServicesGroup {

      $imagesize: $space * 10;
      position: relative;
      overflow: hidden;
      border-radius: $space * 2 + 2 0 $space * 2 + 2 0;
      background-color: $color-yellow-light;
      @include boxshadow();
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;

      .Image {
        
        flex-basis: $imagesize;
        height: $imagesize;
        background-color: $color-yellow;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
      }

      .Quantity {

        $size: $space * 4;

        position: absolute;
        top: $space / 2;
        left: $space / 2;
        width: $size;
        height: $size;
        background-color: $color-light-transparent;
        border-radius: 50%;
        line-height: $size;
        text-align: center;
        font-family: "BebasNeue-Bold";
        font-size: 140%;
        color: $color-green;
      }

      .Data {      

        flex-basis: calc(100% - #{ $imagesize });
        padding: $space;
        position: relative;
      
        .Title {

          font-family: "BebasNeue-Bold";
          font-size: 150%;
          line-height: 100%;     
        }

        .PedirQuitar {

          position: absolute;
          right: $space / 2;
          bottom: $space / 2 - 1;
        }

        .SelectToppings {

          font-family: 'Roboto-Regular';
          font-size: 80%;
          line-height: 100%;
          position: absolute;
          left: $space;
          bottom: $space;
        }      
      }

      .ToppingsServices {

        flex-basis: 100%;

        .ToppingsService {

          padding: $space;

          .AddTopping {

            text-align: right;

            .Text,
            button {

              display: inline-block;
              vertical-align: middle;
            }

            .Text {

              margin: 0 $space / 2 0 0;
            }
          }
        }

        .ToppingsService {

          border: dotted $color-dark;
          border-width: 1px 0 0 0;

          &:first-child {

            border-style: solid;
            border-color: $color-green;
          }
        }        
      }
    }

    .ServicesGroup + .ServicesGroup {

      margin: $space 0 0 0;
    }
  }

  .ToppingList {

    @include absolutebox();
    bottom: $space * 5;
    background-color: rgba(0, 0, 0, 0.7);

    .Wrapper {

      position: absolute;            
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
      width: 240px;
      background-color: $color-light;
      z-index: 0;
      border: solid 1px $color-medium;
      border-radius: $space/ 2 $space * 2.5 $space/ 2 $space/ 2;
      padding: 0 $space $space;
      @include boxshadow();
  
      .ListTitle {
    
        text-align: left;
        padding: $space * 1.5 0;
        font-family: 'Roboto-Bold';
      }
    
      .List {
      
        .ToppingInfo {
    
          display: flex;
          align-items: center;
          font-size: 110%;
          padding: $space / 2 $space;
          border: solid 1px $color-medium;
          border-radius: $space / 2;
          @include boxshadow();
          background-color: $color-yellow-light;
    
          .ToppingTitle {
    
            flex: 0 0 80%; 
            font-family: "BebasNeue-Regular";
            text-align: left;
          }
    
          .ToppingPrice {
    
            flex: 0 0 20%;
            text-align: right;
            font-family: "BebasNeue-Bold";
          }
        }

        .ToppingInfo + .ToppingInfo {

          margin: $space 0 0 0;
        }
      }

      .CloseList {

        position: absolute;
        top: $space / 2;
        right: $space / 2;
        @include boxshadow();
      }
    }
  }
  
  .TotalOrder {

    position: absolute;
    right: 0;
    bottom: $space * 6;
    background-color: $color-light;
    padding: $space $space * 2 $space / 2;
    border-radius: $space * 2 0 0 0;
    border: solid $color-green;
    border-width: 1px 0 0 1px;
    @include boxshadow();

    .Text,
    .Number,
    .Currency {

      display: inline-block;
      vertical-align: middle;
      line-height: 100%;
    }    

    .Text {

      font-family: "BebasNeue-Regular";
      font-size: 120%;
      margin: 0 0 3px;
    }   

    .Number {

      font-family: "BebasNeue-Bold";
      font-size: 200%;
      margin: 0 $space / 4;
      color: $color-green;
    }   

    .Currency {

      font-family: "BebasNeue-Regular";
      font-size: 120%;
    }

  }
}