$space: 8px;

$color-tpyts-green: #008f36; 
$color-tpyts-greendark: #00481b; 
$color-tpyts-yellow: #ffec00;

$color-text: #888;
$color-text-light: #fff;
$color-text-dark: #000;
$color-background-light: #fff;
$color-background-dark: #000;
$color-background-transparent-dark: rgba(0, 0, 0, 0.7);
$color-shadows: transparentize($color-tpyts-greendark, 0.3);


$color-border-medium: #ccc;
$color-border-light: #f0f0f0;
$color-border-dark: #000;
$color-border-green: $color-tpyts-green;

$color-tpyts-yellow-transparent-a: rgba(255, 236, 0, 0.1);
$color-tpyts-yellow-transparent-a-transparent: rgba(255, 236, 0, 0);
$color-tpyts-yellow-transparent-a-solid: #fffde5;
$color-tpyts-yellow-transparent-b: rgba(255, 236, 0, 0.5);
$color-tpyts-yellow-transparent-b: rgba(255, 236, 0, 0.7);