.Cart {  

  $cartheadersize: $space * 5;
  $cartstepssize: $space * 6;
  $cartwidth: $space * 40;
  $cartclose: $space * 7;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  &,
  .Wrapper {
  }

  &.Opened {

    .Wrapper {

      height: 608px
    }
  }

  .Wrapper {

    position: absolute;
    top: 0;
    width: $cartwidth;
    background-color: $color-tpyts-yellow;
    overflow: hidden;
    z-index: 1;
    height: $space * 8;
    @include boxshadow();
    border-radius: 0 0 0 $space * 3.5;

    transition-property: left, height, border-radius;
    transition-duration: 0.5s;

    .Header {

      position: relative;
      padding: $space * 2 0 0 $space * 3;
      height: $space * 8;
      font-family: "Roboto-Bold";
      font-size: 140%;

      .Title {

        transition-property: opacity;
        transition-duration: 0.5s;
        transition-timing-function: ease-in;
        opacity: 0;
      }
    }
  
    .Steps {  

      height: $cartstepssize - 1;
      background-color: $color-background-light;
      border-radius: $space * 2.8 0 0 0;
      padding: $space 0 0 $space; 
      
      * {
  
        display: inline-block;
        vertical-align: middle;
      }
  
      i {
  
        width: $space;
        height: 2px;
        background-color: $color-tpyts-green;
      }
  
      button.ant-btn-round {
  
        padding: $space / 2 $space * 1.5;
      }
    }
  
    .CartBody {

      @include absolutebox(  
        $space * 14
      );
  
      .Step {
  
        $nextsize: $space * 6;
  
        @include absolutebox();
        padding: $space * 2;
        overflow-y: auto;
        background-color: $color-background-light;      
        border-radius: 0 0 0 $space * 2.8;
        display: none;
        overflow: hidden;
  
        .Content {  
          
          @include absolutebox();
          bottom: $nextsize;
          overflow-y: auto;
          z-index: 0;
          padding: $space * 2;
        }
                  
        .Next {
  
          @include absolutebox();
          top: auto;
          height: $nextsize;  
          z-index: 1;  
          background: $color-tpyts-green;
          padding: $space;
          text-align: right;
                
          .Text,    
          button {
  
            display: inline-block;
            vertical-align: middle;
          }
                
          .Text {
  
            font-family: "Roboto-Bold";
            color: $color-text-light;   
            margin: 0 $space 0 0;      
          }
  
          button.Back {
  
            float:left;
          }
        }
      
        &.Visible {
  
          display: block;
        }     
      } 
    }
  }
    
  .OpenCart {

    position: absolute;
    top: $space * 2;
    right: $space;
    z-index: 2;

    button:not(:disabled) {

      @include boxshadow();
    }

    .Count {

      $size: $space * 3;

      display: inline-block;
      position: absolute;
      top: -$space;
      right: calc(100% - #{ $space * 1.5 });
      height: $size;
      padding: 0 $space;
      line-height: $size;
      text-align: center;
      border-radius: $size / 2;
      color: $color-text-light;
      background-color: $color-tpyts-green;
      font-size: 80%;
      white-space: nowrap;
    }
  }

  &.hidden {

    .Wrapper {      

      left: calc(100% - #{ $cartclose });
    }
  }

  &.header {

    .Wrapper {      

      left: calc(100% - #{ $cartwidth });

      .Header .Title { opacity: 1; }
    }
  }

  &.wrapper {

    .Wrapper {      

      left: calc(100% - #{ $cartwidth });
      height: 648px;
      border-radius: 0 0 0 $space * 2.8;

      .Header .Title { opacity: 1; }
    }
  }
}