.Cart {

  background-color: $color-tpyts-yellow;
  border: solid $color-tpyts-green;
  border-width: 0 0 1px 0;
  @include boxshadow();
  overflow: hidden;

  transition-property: bottom;
  transition-duration: 0.5s;

  .Header {

    padding: $space;
    text-align: right;

    * {

      display: inline-block;
      vertical-align: middle;
      line-height: 100%;
    }

    .Servicios,
    .Price,
    .Tools {

      margin: 0 0 0 $space * 2;
    }

    .TuPedido {

      font-family: "Roboto Condensed Bold";
    }
    
    .Servicios {
      
      .Count {

        font-family: "Roboto Condensed Bold";
        font-size: 170%;      
      }
      
      .Text {

        margin: 0 0 0 $space / 2;      
      }
    }
    
    .Price {    

      border: solid 1px $color-border-dark;
      padding: $space / 2 $space * 1.5;
      border-radius: $space * 2.8;
      
      .Number {

        font-family: "Roboto Condensed Bold";
        font-size: 170%;      
      }
      
      .Currency {

        font-family: "Roboto Condensed Bold";
        font-size: 100%;
        margin: 0 0 0 $space / 2;    
      }
    }
    
    .Tools {

      button {

        &:not(:disabled) {

          @include boxshadow();
        }
      }
    }
  }

  .Steps {

    background-color: $color-background-light;
    border-radius: $space * 2.8 0 0 0;
    padding: $space 0 0 $space;  
    
    * {

      display: inline-block;
      vertical-align: middle;
    }

    i {

      width: $space;
      height: 2px;
      background-color: $color-tpyts-green;
    }

    button.ant-btn-round {

      padding: $space / 2 $space * 1.5;
    }
  }

  .CartBody {

    .Step {

      $nextsize: $space * 6;

      @include absolutebox();
      padding: $space * 2;
      overflow-y: auto;
      background-color: $color-background-light;      
      border-radius: 0 0 $space * 2.8 $space * 2.8;
      display: none;
      overflow: hidden;

      .Content {  
        
        @include absolutebox();
        bottom: $nextsize;
        overflow-y: auto;
        z-index: 0;
        padding: $space * 2;
      }
                
      .Next {

        @include absolutebox();
        top: auto;
        height: $nextsize;  
        z-index: 1;  
        background: $color-tpyts-green;
        padding: $space;
        text-align: right;
              
        .Text,    
        button {

          display: inline-block;
          vertical-align: middle;
        }
              
        .Text {

          font-family: "Roboto Condensed Bold";
          color: $color-text-light;   
          margin: 0 $space 0 0;      
        }

        button.Back {

          float:left;
        }
      }
    
      &.Visible {

        display: block;
      }     
    } 
  }
}