.Cart {

  background-color: $color-tpyts-yellow;
  @include boxshadow();

  &.Opened {

    .Wrapper {

      height: 608px
    }
  }

  .OpenShadow {

    $size: $space * 8;

    position: absolute;
    top: $space / 2;
    right: 0;
    width: $size;
    height: $size;
    background-color: $color-tpyts-yellow;
    border-radius: 0 0 0 50%;
    @include boxshadow();
  }

  .Header,
  .Wrapper {

    border-radius: 0 0 $space * 3 $space * 3;
  }

  .Header {

    padding: $space $space * 8;
    text-align: right;
    background-color: $color-tpyts-yellow;
    position: relative;
    
    .TuPedido,
    .Price,
    .Number,
    .Currency {

      display: inline-block;
      vertical-align: middle;
      line-height: $space * 5;;
    }

    .TuPedido {

      font-family: "Roboto-Bold";
    }
    
    .Price {  
      
      .Number {

        font-family: "Roboto-Bold";
        font-size: 170%;      
        margin: 0 0 0 $space / 2; 
      }
      
      .Currency {

        font-family: "Roboto-Bold";
        font-size: 100%;
        margin: 0 0 0 $space / 2;    
      }
    }
  }   
    
  .OpenCart {

    position: absolute;
    top: $space * 2;
    right: $space;
    z-index: 2;

    button:not(:disabled) {

      @include boxshadow();
    }

    .Count {

      $size: $space * 3;

      display: inline-block;
      position: absolute;
      top: -$space;
      left: -$space;
      width: $size;
      height: $size;
      line-height: $size;
      text-align: center;
      border-radius: $size / 2;
      color: $color-text-light;
      background-color: $color-tpyts-green;
      font-size: 80%;
    }
  }

  .Wrapper {

    position: relative;
    background-color: $color-tpyts-yellow;
    height: 0;
    overflow: hidden;
    z-index: 1;
    transition-property: height;
    transition-duration: 0.5s;
  
    .Steps {
  
      background-color: $color-background-light;
      border-radius: $space * 2.8 0 0 0;
      padding: $space 0 0 $space; 
      
      * {
  
        display: inline-block;
        vertical-align: middle;
      }
  
      i {
  
        width: $space;
        height: 2px;
        background-color: $color-tpyts-green;
      }
  
      button.ant-btn-round {
  
        padding: $space / 2 $space * 1.5;
      }
    }
  
    .CartBody {
  
      .Step {
  
        $nextsize: $space * 6;
  
        @include absolutebox();
        padding: $space * 2;
        overflow-y: auto;
        background-color: $color-background-light;      
        border-radius: 0 0 $space * 2.8 $space * 2.8;
        display: none;
        overflow: hidden;
  
        .Content {  
          
          @include absolutebox();
          bottom: $nextsize;
          overflow-y: auto;
          z-index: 0;
          padding: $space * 2;
        }
                  
        .Next {
  
          @include absolutebox();
          top: auto;
          height: $nextsize;  
          z-index: 1;  
          background: $color-tpyts-green;
          padding: $space;
          text-align: right;
                
          .Text,    
          button {
  
            display: inline-block;
            vertical-align: middle;
          }
                
          .Text {
  
            font-family: "Roboto-Bold";
            color: $color-text-light;   
            margin: 0 $space 0 0;      
          }
  
          button.Back {
  
            float:left;
          }
        }
      
        &.Visible {
  
          display: block;
        }     
      } 
    }
  }
}