html,
body {

  padding: 0;
}

#TPYTSClient {

  @include absolutebox();
  overflow: hidden;

  $cartheadersize: $space * 6;
  $cartstepssize: $space * 6;

  font-family: "Roboto-Regular";

  .Showcase {

    @include absolutebox(
      $cartheadersize,
      0,
      0,
      0
    );      
    background-color: $color-background-light;
    overflow: hidden;
    z-index: 0;

    .Stores,
    .Search,
    .Terms {

      @include absolutebox();      
      background-color: $color-background-light;
      overflow-y: auto;      
      padding: $space * 2;
    }

    .Search,
    .Terms {
      
      transition-property: transform;
      transition-duration: 0.5s; 
      transform: translateY(0); 

      &.hidden {

        transform: translateY(100%);
      }  
    }
  }

  .Cart {

    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 $space * 3 $space * 3;
    width: 320px;
    z-index: 1;

    .Header {

      height: $cartheadersize;
    }

    .Steps {

      height: $cartstepssize - 1;
      margin: $space * 3 0 0;
    }

    .CartBody {

      @include absolutebox(  
        $space * 9
      )
    }
  }

  .Map {    
  
    $mapheaderheight: $space * 6;

    @include absolutebox(
      $space * 2,
      $space * 2,
      $space * 2,
      $space * 2
    );
    z-index: 2;

    .Header {      

      height: $mapheaderheight;
    }

    .Google {
  
      @include absolutebox();
      top: $mapheaderheight;
    }
  }

  .Gallery {

    @include absolutebox();
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }

  > .Tools {

    @include absolutebox();
    top: auto;
    height: $space * 10;
    z-index: 4;
  }

  .Splash {

    @include absolutebox();
    background-color: $color-tpyts-yellow;
    z-index: 5;
  }

  .Message {

    @include absolutebox();
    top: auto;
    left: auto;
    z-index: 6;
  }
}