html,
body {

  padding: 0;
}

#TPYTSClient {

  @include absolutebox();
  overflow: hidden;

  $cartheadersize: $space * 6;
  $cartstepssize: $space * 6;

  .Showcase {

    @include absolutebox(
      $cartheadersize,
      0,
      0,
      0
    );    
    z-index: 0;
  }

  .Cart {

    @include absolutebox();
    bottom: calc(100% - #{ $cartheadersize });

    &.Opened {

      bottom: $space * 2;
    }

    .Header {

      height: $cartheadersize;
    }

    .Steps {

      height: $cartstepssize;
      margin: $space $space * 2;
    }

    .CartBody {

      @include absolutebox(        
        $cartheadersize + $cartstepssize + $space,
        $space * 2,
        $space * 2,
        $space * 2
      )
    }
  }

  .Map {    
  
    $mapheaderheight: $space * 6;

    @include absolutebox(
      $space * 4,
      $space * 4,
      $space * 4,
      $space * 4
    );
    z-index: 2;

    .Header {      

      height: $mapheaderheight;
    }

    .Google {
  
      @include absolutebox();
      top: $mapheaderheight;
    }
  }

  .Gallery {

    @include absolutebox();
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
}