.Map {     

  border: solid 1px $color-border-medium;
  background-color: #fff;
  @include boxshadow();
  $mapheaderheight: $space * 6;
  border-radius: 0 $space * 3 0 0;
  overflow: hidden;

  @include absolutebox(
    $space * 2,
    $space * 2,
    $space * 2,
    $space * 2
  );
  z-index: 2;

  .Header {      

    height: $mapheaderheight;
    background-color: $color-tpyts-yellow;
    position: relative;
  }

  .Google {

    @include absolutebox();
    top: $mapheaderheight;
    z-index: 0;
  } 

  .Header {

    padding: $space;
    bottom: auto;

    .Text {

      font-family: "BebasNeue-Bold";
      font-size: 180%;
      float: left;
      padding: 0 0 0 $space;
    }

    .Tools {

      float: right;

      button {

        @include boxshadow();
      }
    }
  }

  .Target{

    font-size: 200%;
    color: $color-tpyts-green;
  }
}