.Map {

  border: solid 1px $color-border-medium;
  background-color: #fff;
  @include boxshadow(); 

  .Header {

    padding: $space;
    bottom: auto;

    .Text {

      font-family: "Roboto Condensed Bold";
      float: left;
      line-height: 250%;
      padding: 0 0 0 $space;
    }

    .Tools {

      float: right;
    }
  }

  .Target{

    font-size: 200%;
    color: $color-tpyts-green;
  }
}