.PedirQuitar {  

  button,
  > span { 
    display: inline-block;
    vertical-align: middle;
  }

  button {

    @include boxshadow();
  }

  > span {

    margin: 0 $space;
    font-family: "BebasNeue-Bold";
    font-size: 160%;      
    color: $color-green;
  }
}