.PopMap {     

  @include absolutebox();
  background-color: $color-dark-transparent;
  z-index: 5;
  
  .Wrapper {

    border: solid 1px $color-medium;
    background-color: #fff;
    @include boxshadow();
    $mapheaderheight: $space * 6;
    border-radius: 0 $space * 3 0 0;
    overflow: hidden;

    @include absolutebox(
      $space * 2,
      $space * 2,
      $space * 2,
      $space * 2
    );
    z-index: 2;

    .Header {      

      height: $mapheaderheight;
      background-color: $color-yellow;
      position: relative;
      padding: $space;
      bottom: auto;

      .Tools,
      .Text {

        display: inline-block;
        vertical-align: middle;
      }

      .Tools {

        button {

          @include boxshadow();
        }
      }

      .Text {

        font-family: "BebasNeue-Bold";
        font-size: 110%;
        padding: 0 0 0 $space;
        width: calc(100% - #{ $space * 4});
        @include ellipsis();
      }
    }

    .Google {

      @include absolutebox();
      top: $mapheaderheight;
      z-index: 0;
    } 

    .Target{

      font-size: 200%;
      color: $color-green;
    }
  }
}