.PopGallery {

  @include absolutebox();
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  text-align: center;

  &:before,
  .Wrapper {

    display: inline-block;
    vertical-align: middle;
  }

  &:before {
    
    content: "";
    width: 0;
    height: 100%;
  }

  .Wrapper {    

    width: 90%;
    border-radius: 0 $space * 3 $space * 3 0;
    overflow: hidden;
    background-color: $color-light;

    $headerheight: $space * 6;

    .Header {
  
      padding: $space;
      bottom: auto;
      height: $headerheight;
      background-color: $color-yellow;
  
      .Text {
  
        font-family: "BebasNeue-Bold";
        font-size: 180%;
        float: left;
        padding: 0 0 0 $space;
      }
  
      .Tools {
  
        float: right;
      }
    }

    .Carousel {

      width: 100%;
      padding: 0 0 100% 0;
      position: relative;
      background-color: $color-dark;

      .ant-carousel {

        @include absolutebox();

        .slick-slider,
        .slick-list,
        .slick-track,
        .slick-slide {

          height: 100%;
        }

        .slick-slide {

          position: relative;

          > div,
          .Slide {

            @include absolutebox();
          }

          .Slide {

            .Image {

              @include absolutebox();
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
          }
        }
      }
    }

    .Info {

      padding: $space * 2 $space * 2 $space;
      background-color: $color-yellow-light;
      font-family: "Roboto-Bold";
      line-height: 120%;
    }
  }
}