.PopService {     

  @include absolutebox();
  background-color: $color-dark-transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .Wrapper {

    width: 300px;
    height: 510px;
    border-radius: 0 $space * 3 0 0;
    z-index: 2;
    position: relative;

    .ServiceWrapper {

      z-index: 0;
      height: 100%;

      .Service {

        height: 100%;
        @include boxglow();

        .Data {

          top: $space * 20;
          padding-top: $space * 4;
          overflow: auto;
        }
      }
    }

    .Tools {

      position: absolute;
      top: $space * 8;
      right: $space;
      z-index: 1;

      button {

        @include boxshadow();
      }
    }
  }
}