.Quantity {

  button.Down,
  .Number,
  button.Up {

    display: inline-block;
    vertical-align: middle;
  }
  
  button.Down,
  button.Up {

    padding: 0;
  }
  
  button.Up {
    
  }
  
  .Number {
    
    font-family: "BebasNeue-Bold";
    font-size: 160%;
    padding: 0 $space / 2;
    min-width: $space * 4;
    text-align: center;
  }
  
  button.Down {
    
  }
}