$space: 8px;

$color-text: #888;
$color-background: #fff;
$color-shadows: #000;

$color-border-medium: #ccc;
$color-border-light: #f0f0f0;
$color-border-dark: #2a2a2a;

$color-tpyts-green: #008f36; 
$color-tpyts-yellow: #ffec00; 