$space: 8px;

$color-dark: #000;
$color-dark-transparent: rgba($color-dark, 0.8);
$color-green: #008f36; 
$color-greendark: #00481b; 
$color-medium: #ccc;
$color-yellow: #ffec00;
$color-yellow-light: #fffde3;
$color-yellow-transparent: rgba(#ffec00, 0.8);
$color-light: #fff;
$color-light-transparent: rgba(#fff, 0.8);
$color-shadows: rgba($color-dark, 0.5);
$color-error: #c00;