#TPYTSAdmin .Message {

  @include absolutebox();
  top: auto;
  padding: $space $space * 2;
  background-color: #ccc;
  text-align: right;

  &.info { background-color: #0f0; }
  &.fail { background-color: #f00; }
}