@mixin boxshadow() {

  box-shadow: 0 0 4px $color-shadows; 
}

@mixin boxglow() {

  box-shadow: 0 0 8px $color-light; 
}

@mixin boxinnershadow() {

  box-shadow: 0 0 8px inset $color-dark; 
}

@mixin textshadow() {

  box-shadow: 0 0 8px $color-dark; 
}

@mixin ellipsis () {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin absolutebox(
  $top: 0, 
  $right: 0,
  $bottom: 0,
  $left: 0
) {

  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin backgroundimg($size: cover) {

  background-repeat: no-repeat;
  background-position: center;
  background-size: $size;
}

@mixin textglowyellow() {

  text-shadow: 0 0 12px $color-yellow,
               0 0 12px $color-yellow,
               0 0 16px $color-yellow,
               0 0 18px $color-yellow;
}

@mixin clearfloat() {

  &:after {

    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}