.PedirQuitar {

  button {

    padding: 0 $space * 1.5 0 $space;
    @include boxshadow();

    span {

      margin-left: 0 !important;
      font-family: "BebasNeue-Regular";
      font-size: 120%;
    }
  }
}