.PopService {     

  @include absolutebox();
  background-color: $color-dark-transparent;
  z-index: 4;
  
  .Wrapper {

    background-color: #fff;
    @include boxshadow();
    $mapheaderheight: $space * 6;
    border-radius: 0 $space * 3 0 0;
    overflow: hidden;

    @include absolutebox(
      $space * 2,
      $space * 2,
      $space * 2,
      $space * 2
    );
    z-index: 2;

    .ServiceWrapper {

      z-index: 0;
      height: 100%;

      .Service {

        height: 100%;
      }
    }

    .Tools {

      position: absolute;
      top: $space;
      right: $space;
      z-index: 1;

      button {

        @include boxshadow();
      }
    }
  }
}