
$lineservicehexcerpt: $space * 2;

.ServiceWrapper,
.ServiceResumeWrapper { 
  
  .Service {

    border: solid 1px $color-medium;
    border-radius: 0 $space * 2.8 0 $space *3;
    line-height: 120%;
    overflow: hidden;
    position: relative;
    @include boxshadow();
    background-color: $color-yellow-light;
    min-height: $space * 30;

    .SearchHighlight {

      display: inline-block;
      padding: 2px 3px 0;
      background-color: $color-green;
      color: $color-light;
    }
    
    .Show {
      
      overflow: hidden;
      border: solid $color-medium;
      border-width: 0 0 1px 0;
      z-index: 0;
      position: relative;

      // @media (min-width: 490px) { padding: 0 0 100%; }

      .Image {        
      
        width: 100%;
        padding: 0 0 50%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #ccc;
      }

      .Product {

        position: absolute;
        padding: $space $space * 1.5 $space * 0.75 $space;
        border-radius: 0 0 $space * 2 0;
        top: 0;
        left: 0;
        background-color: $color-yellow-transparent;

        .Title {

          font-family: "BebasNeue-Bold";
          font-size: 160%;
          line-height: 100%;
        }

        .HaveVariations {

          position: absolute;
          padding: $space / 4 $space $space / 4 $space / 2;
          border-radius: 0 $space $space 0;
          bottom: -$space * 1.5;
          left: 0;
          background-color: $color-yellow;
          color: $color-dark;
          font-family: "Roboto-Light";
          font-size: 80%;
          line-height: 100%;
          white-space: nowrap;
          @include boxshadow();
        }
      }

      .Price {  

        position: absolute;
        right: $space;
        bottom: $space;
        padding: $space / 2 + 1 $space + 2 $space / 2 - 1;
        background-color: $color-yellow;
        border-radius: $space * 2;
        @include boxshadow();
          
        .Number,      
        .Currency {              

          display: inline-block;
          vertical-align: middle;
          font-family: "BebasNeue-Bold";
          line-height: 100%;
        } 
          
        .Number {    

          font-size: 180%;
          margin: 0 $space / 4 0 0;
        }
        
        .Currency {              

          font-size: 120%;   
        }
      }
    }

    .Stock {
      
      position: absolute;
      left: 0;
      padding: $space / 2 $space * 1.5 $space / 2 $space;
      border-radius: 0 $space * 2 $space * 2 0;
      color: $color-light;
      background-color: $color-green;
      white-space: nowrap;
      font-size: 90%;
      z-index: 2;
      margin: -$space 0 0 0;
      @include boxshadow();

      .Text {

        font-family: "BebasNeue-Regular";
      } 

      .Number {

        font-family: "Roboto-Bold";
        margin: 0 $space / 2;
      } 
    }

    .Pedir {      

      float: right;
      padding: $space / 1.5 $space;
      z-index: 1;
      position: relative;
    }
    
    .Data {

      @include absolutebox();
      overflow: hidden;
      padding-top: calc(50% + #{ $space * 5 });

      &:before {

        content: "";
        display: block;
        clear: both;
      }

      > * {

        padding: $space * 1.5;
        display: block;
        box-sizing: border-box;
      }

      > *:not(.Excerpt) {
        
        font-size: 85%;
      }
      
      > *:not(:first-child) {
        
        border: dotted $color-medium;
        border-width: 1px 0 0;
        text-align: right;
      } 
      
      .Excerpt {    
        
        font-family: "Roboto-Bold";
        line-height: $lineservicehexcerpt;
      }

      .Components {

        font-family: "Roboto-Regular";
      }

      .Toppings {

        font-family: "Roboto-Bold";
        text-align: left;
        display: flex;
        align-items: centers;

        .Text {

          flex: 0 0 85%;
        }

        .What {

          flex: 0 0 15%;
          text-align: right;
          position: relative;

          button {

            position: relative;
            z-index: 1;
            @include boxshadow();
          }

          .ToppingList {

            position: absolute;
            top: 50%; 
            right: $space * 3.5;
            transform: translateY(-50%);
            width: 200px;
            background-color: $color-light;
            z-index: 0;
            border: solid 1px $color-medium;
            border-radius: $space/ 2;
            padding: $space $space * 1.5 $space $space;
            @include boxshadow();

            .ListTitle {

              text-align: left;
              padding: $space / 2 0;
            }

            .List {
            
              .ToppingInfo {

                display: flex;
                align-items: center;
                font-size: 140%;
                padding: $space / 2 0;
                border: dotted $color-medium;
                border-width: 1px 0 0 0;
      
                .ToppingTitle {
        
                  flex: 0 0 80%; 
                  font-family: "BebasNeue-Regular";
                  text-align: left;
                }

                .ToppingPrice {
        
                  flex: 0 0 20%;
                  text-align: right;
                  font-family: "BebasNeue-Bold";
                }
              }
            }
          }
        }

        .Topping {

          display: flex;
          justify-content: space-between;
          align-items: center;
          border: dotted $color-medium;
          margin: $space / 2 0 0 0;
          border-width: 1px 0 0;
          padding: $space / 2 0 0 0;

          .Title {

            flex: 0 0 80%;
            font-family: "BebasNeue-Regular";
            font-size: 120%;
          }

          .AddRemove {

            flex: 0 0 20%;
            float: right;
          }
        }
      }
      
      .Allergens {

        .Label {   
        
          font-family: "BebasNeue-Bold";
          font-size: 85%;
          line-height: 100%;
          margin-bottom: $space / 2;
        }
        
        .Allergen {       

          $size: $space * 4;

          display: inline-block;
          vertical-align: middle;
          width: $size;
          height: $size;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;

          &.A_000 { background-image: url(~assets/allergens/000.png) }
          &.A_001 { background-image: url(~assets/allergens/001.png) }
          &.A_002 { background-image: url(~assets/allergens/002.png) }
          &.A_003 { background-image: url(~assets/allergens/003.png) }
          &.A_004 { background-image: url(~assets/allergens/004.png) }
          &.A_005 { background-image: url(~assets/allergens/005.png) }
          &.A_006 { background-image: url(~assets/allergens/006.png) }
          &.A_007 { background-image: url(~assets/allergens/007.png) }
          &.A_008 { background-image: url(~assets/allergens/008.png) }
          &.A_009 { background-image: url(~assets/allergens/009.png) }
          &.A_010 { background-image: url(~assets/allergens/010.png) }
          &.A_011 { background-image: url(~assets/allergens/011.png) }
          &.A_012 { background-image: url(~assets/allergens/012.png) }
          &.A_013 { background-image: url(~assets/allergens/013.png) }
        }
      }
      
      .Comments {    
        
        font-family: "Roboto-BoldItalic";
        padding-left: 30%;
        text-align: right;
      }
    }  
  }
}

.ServiceResumeWrapper { 

  .Data {    

    padding-bottom: $space * 2;
      
    .Excerpt {    
      
      height: $lineservicehexcerpt * 3.75;
      overflow: hidden;
      position: relative;

      &:after {

        content: "";
        display: block;
        @include absolutebox();
        top: auto;
        height: $lineservicehexcerpt;
        background-color: $color-yellow-light;
        background: linear-gradient(
          0deg, 
          $color-yellow-light 10%,
          transparent 100%
        );
      }

    }
  }

  .MoreInfo {

    position: absolute;
    right: 0;
    bottom: 0;
    padding: $space / 2 + 2 $space $space / 2;
    font-family: "BebasNeue-Bold";
    font-size: 120%;
    background-color: $color-yellow;
    color: $color-dark;
    border-radius: $space 0 0 0;
    @include boxshadow();
    cursor: pointer;
  }
}