html,
body {

  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Roboto Condensed Regular";
}

$navigationsize: $space * 5;

#Navigation,
#TPYTS {

  @include absolutebox();
}

#Navigation {

  bottom: auto;
  height: $navigationsize;
  z-index: 1;
  @include boxshadow();
}

#TPYTS,
#TPYTSAdmin,
#TPYTSClient,
#TPYTSProvider,
#TPYTSDealer {

  top: $navigationsize;
  z-index: 0;
}

p {

  margin: 0 0 $space * 1.5;
}