.Step.Location {

  $totalsize: $space * 6;
  overflow: hidden;

  .Content {  

    .Check {

      text-align: right;
      margin-bottom: $space * 3; 
    }

    .Comments {

      .ant-input {

        min-height: 160px;
      }
    }
  }
}