.Step.Location {

  $gap: $space;

  .Content { 
    
    .Field {

      .ant-form-item {

        margin-bottom: $gap;
      }

      .GeoLocation {

        margin-bottom: $space;
        min-height: $space * 4;
        display: flex;
        align-items: center;
        justify-content: center;

        .SearchingLocation,
        .NoLocation {

          font-size: 80%;
          line-height: 100%;
        }

        .NoLocation {

          color: $color-error;
          font-family: "Roboto-Bold";
        }
      }

      &.WhenSelect,
      &.WhenPicker {

        display: inline-block;
        vertical-align: top;
      }

      &.WhenSelect {

        width: calc(60% - #{$gap / 2});
      }

      &.WhenPicker {

        margin: 0 0 0 $gap;
        width: calc(40% - #{$gap / 2});
      }
    }

    .Check {

      text-align: right;
      margin-bottom: $gap; 
    }

    .Comments {

      .ant-input {

        min-height: $space * 8;
      }
    }
  }
}