.Step.Payment {

  .Content {  

    &.Content {      
    
      padding: $space * 8 $space * 8 0;
    }

    .Form {

      padding: $space * 2 0 0;

      .Field {

        display: inline-block;
        width: 100%;

        .ant-row {

          margin-bottom: $space * 1.5;
        }

        &.Expiry,
        &.CVC {

          width: 45%;
        }

        &.CVC {

          margin: 0 0 0 10%;
        }

        &.Pay {

          $gap: $space * 2;

          .Go {

            width: calc(100% - #{$gap + 40px}); // circle button
            margin: 0 $gap 0 0;
          }

          .Cancel {

            
          }
        }

        &.Log {

          margin: $space * 2 0 0; 
        }
      }
    }
  }
}